  
  <div id="container" class="wrap left" style="width: 100%; height: 90%"></div>

  <div class="wrap left" style="width: 40%; height: 500px;">
    <form class="forms-sample" [formGroup]="searchForm">
            
      <div class="form-group">

        <label>Crop name*</label>
        <div class="col-sm-9">
          <select class="form-control" formControlName="cropName">
            <option *ngFor ="let crop of showCrop">{{ crop }} </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>Time Period *</label>
        <div class="col-sm-9">
          <select class="form-control" formControlName="timePeriod">
            <option *ngFor ="let year of yearPeriod">{{ year }} </option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-gradient-primary mr-2" (click)="showData()">Visualize</button>

      <button class="btn btn-light" (click)="clearAll()">Cancel</button>
    </form>
  </div>

